body{
  background-color: rgb(253, 251, 251);
  text-decoration: none;
}


#indice li{
  display: inline-block;
  width: 20%;
  color: #ffffff;
}

#indice li a{
  color: #ffffff;
  text-decoration: none;
}

#cabecalho{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
}

#minha_foto{
  display: inline-block;
  width: 30%;
  margin-top: 150px;
  border-radius: 100%;
}

#artigoAprendizado{
  width: 500px;
}

/* ul li{
color: blue;
font-size: 15px;
font-family: monospace;
font-style: italic;
word-spacing: 1px;
line-height: 15px;
} */

.lado-esquerdo{
  display: inline-block;
  width: 20%;
  height: 100%;
}

.lado-direito{
  width: 20%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 150px;
}