body{
  background-color: rgb(253, 251, 251);
}

#cabecalho{
  position: fixed;
  top: 0;
  margin: 10px ;
  padding: 5px;
  border: 1px solid #ffffff;
}



ul li{
color: blue;
font-size: 15px;
font-family: monospace;
font-style: italic;
word-spacing: 1px;
}

.lado-esquerdo{
float: left;
}

.lado-direito{
float: right;
}