body{
  background-color: rgb(253, 251, 251);
}


#indice{
margin-top: 6%;
border: 1px solid #ffffff;
}

#cabecalho{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
}

#minha_foto{
  width: 10%;
}

#artigoAprendizado{
  width: 500px;
}

ul li{
color: blue;
font-size: 15px;
font-family: monospace;
font-style: italic;
word-spacing: 1px;
line-height: 15px;
}

.lado-esquerdo{
  width: 20%;
  height: 100%;
  left: 10px;
  top: 50%;
}

.lado-direito{
  width: 20%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}